{{#myitem}}<tr>
<td>{{uid}}</td>
<td>{{title}}</td>
<td>{{description}}</td>
<td>{{seller}}</td>
<td>{{startPrice}}</td>
<td>{{bidInc}}</td>
<td>{{bestOffer}}</td>
<td>{{bidder}}</td>
<td>{{stopDate}}</td>
<td>{{category}}</td>
<td class="Action">{{action}}</td>
</tr>{{/myitem}}